html {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

body{
	margin: 0em;
	font-family: 'Roboto', sans-serif;
}

nav ol{
	margin: 0em;
	padding: 0em;
	text-align: center;
	text-decoration: none;
}

nav a{
	text-decoration: none;
}

nav li{
	list-style-type: none;
display: inline-block;

}
