html {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

img{
	width: 100%;
	display: block;
}

nav{
	margin: 0em;
	padding: 0em;
	background-color: black;
}

nav a {
	color: black;
	text-decoration: none;
	font-size: .9em;
}

body{
	margin: 0em;
	font-family: 'Roboto', sans-serif;
}

nav ol{
	margin: 0em;
	padding: 0em;
	text-align: center;
	text-decoration: none;
}

nav li{
	list-style-type: none;
	float: left;
	width: 25%;
	margin: 0em 0em 1em 0em;
}

.masthead{
	background-image: url("../img/logo.svg");
	background-size: 55px auto;
	padding-top: .5em;
	background-repeat: no-repeat;
	background-position: left 20px;
	text-align: center;
	margin: 1em;
}

.maerten{
	position: relative;
}

.billboard{
	position: absolute;
	top:32%;
	left:5%;
	color: white;
	text-align:center;
}

.atlantis{
	position: relative;
}

.billboard2{
	position: relative;
	color: white;
}

.atl-text{
	position:absolute;
	bottom: 0em;
	width: 100%;
	text-align:center;
}

.week{
	text-align:center;
}

ol{
	padding:0em;
	margin-bottom: 2em;
	list-style-type:none;
}


a{
	text-decoration: none;
}

h1,h2, h3, p, a, footer{
	margin: 0.5em;
}

dt{
	font-weight: bold;
	float:left;
	clear:left;
	margin-right: 0.4em;
}

dd{
	margin:0em;
	float:left;
}

dl{
	padding-left: 1em;
}

.btn {
	color: white;
	text-decoration: none;
	display: inline-block;
	padding: 0.5em 0.75em;
	border-radius: 20px;
	background-color: #6fbf44;
	background-image: linear-gradient(to bottom, #6fbf44, #388200);
	box-shadow: 5px 2px 2px #000;
	left:20%;
	bottom: 1.5em;
	text-align:center;
	clear:both;
	margin-top: 2em;
}

.btn a{
	text-align:center;
}

.btn-2 {
	color: white;
	text-decoration: none;
	display: inline-block;
	padding: 0.5em 0.75em;
	border-radius: 20px;
	background-color: #6fbf44;
	background-image: linear-gradient(to bottom, #6fbf44, #388200);
	box-shadow: 5px 2px 2px #000;
	left:20%;
	bottom: 1.5em;

}

.btn-3 {
	color: white;
	text-decoration: none;
	display: inline-block;
	padding: 0.5em 0.75em;
	border-radius: 20px;
	background-color: #6fbf44;
	background-image: linear-gradient(to bottom, #6fbf44, #388200);
	box-shadow: 5px 2px 2px #000;
	left:20%;
	bottom: 1.5em;
	margin-bottom: 3em;
}

.btn-wrap{
	text-align:center;
	clear:both;
	margin-bottom:2em;
}

.learn-more{
	text-align:center;
}


.box-wonder, .l-house{
	width:100%;
	float:left;
}

.box-wonder img, .l-house img{
padding:1em;
}

.box-atl{
	width:100%;
	float:left;
}

.box-price{
	text-align:center;
}

.box-tickets{
	text-align:center;
	width:100%;
	float:left;
}

.play{
	margin-top: 1em;
}

@media only screen and (min-width: 39em){

.atl-text{
	font-size: 1.2em;
}

.box-wonder{
	width: 50%;
	float: left;
}

.box-price{
	display: inline-block;
	width: 100%;
}

.play{
	margin-top:.1em;
}

.day{
	width: 45%;
	display: inline-block;
	padding: 0.7em;
	padding-bottom: 2em;
	min-height:7em;
}

.l-house{
	text-align:center;
	width: 50%;
	float:none;
	margin: auto;
	margin-bottom: 2em;
}

footer{
	clear:both;
}

}


@media only screen and (min-width: 55em){

.day{
	width: 30%;
}

.footer-links{
	width: 50%;
	float:left;
	clear:all;
	padding: 2em;
}


}
